* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.wrapper {
  width: 1280px;
  flex-direction: row;
  margin:0 auto;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper > div {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}

.wrapper > div:first-child {
  flex-basis: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper > div:last-child {
  flex-basis: 30%;
  flex-direction: column;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 50px;
}

.title h3 {
  font-weight: 400;
  margin-bottom: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.dice-container--child {
  grid-row: span 1;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}

.dice-container--child.selected {
  background-color: #4caf50;
}

.dice-container--roll {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dice-container--roll > button {
  margin: 20px 0;
  padding: 15px 20px;
  font-size: 20px;
  width: 150px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #79cdc9 0, #0897e7 100%);
  border: 0;
  border-radius: 10px;
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, rgb(58 65 111 / 50%) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #79cdc9 0, #0897e7 100%);
  border: 0;
  border-radius: 10px;
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, rgb(58 65 111 / 50%) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}



button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0873b1 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #0897e7 0 3px 7px inset;
  transform: translateY(2px);
}


/* DICE */
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}
  
.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}
  
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

[class$="face"] {
  padding: 19px;
  background-color: #ffffff;
  width: 90px;
  height: 90px;
  object-fit: contain;
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
}

[class$="face"].selected {
  background-color: #e7e7e7;
}

.pip {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 2px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.count-details {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.inner-wrap {
  width: 585px;
  margin: 0 auto;
}

.warning-message {
  position: absolute;
  bottom: -33px;
  color: #e91e63;
}